## File system
.DS_Store
desktop.ini

## Editors
.idea
.vscode

## Build output
/target
/testdata/whisper
slab-libfetch/target/
slab-*-sys/target/

## Vendor cache
vendor/*
!vendor/slab-artifacts.toml

## SQLite Databases
*.db


# Binaries and resources
slab-app/src-tauri/binaries/*
slab-app/src-tauri/resources/libs/*
bin/slab-app/src-tauri/binaries/*
bin/slab-app/src-tauri/resources/libs/*

## Frontend node_modules and build outputs
node_modules/
packages/*/node_modules/
packages/*/dist/
bin/*/node_modules/

llama.cpp-master/

docs/.vitepress/dist/
docs/.vitepress/.temp/
