## File system
.DS_Store
desktop.ini

## Editors
.idea
.vscode

## Build output
/target
/testdata/whisper
slab-libfetch/target/

## SQLite Databases
*.db
*.exe

slab-app/src-tauri/resources/lib/whisper/*.dll
slab-app/src-tauri/resources/lib/diffusion/*.dll
slab-app/src-tauri/resources/lib/llama/*.dll